SECRET_KEY = ''

EMAIL_BACKEND=''
EMAIL_HOST=''
EMAIL_USE_TLS=
EMAIL_PORT=
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=''


GOOGLE_OAUTH2_CLIENT_ID=''
GOOGLE_OAUTH2_CLIENT_SECRET=''
GOOGLE_OAUTH2_REDIRECT_URI=''

ENGINE=''
NAME=''
USER=''
PASSWORD=''
HOST=''
PORT=''

DEFAULT_AUTO_FIELD=''

# path to firebase service account json file (absolute or relative to project root)
FIREBASE_CREDENTIALS_PATH='serviceAccountKey.json'

